body {
    color: #fff;
    background-color: #1C2833;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.blue-color {
    color: #007bff;
}

.title-container {
    background-color: #17202A;
    padding: 30px 0;
}

    .title-container .name {
        font-size: 20px;
        padding-left: 30px;
        font-weight: 500;
    }

    .title-container .language-change {
        font-size: 20px;
        padding-right: 30px;
        font-weight: 500;
        float: right;
    }

        .title-container .language-change a {
            color: #fff;
        }

.title {
    margin: 0 auto;
    width: 280px;
}

    .title h1 {
        font-size: 28px;
        margin-top: 50px;
    }

    .title .location {
        font-size: 15px;
        display: block;
        margin: 10px 0;
    }

    .title .sites {
        font-size: 13px;
        text-align: center;
        margin: 40px 0 30px 0;
    }

        .title .sites .col {
            cursor: pointer;
        }

            .title .sites .col:hover {
                color: #007bff;
            }

.projects {
    text-align: center;
    margin-bottom: 100px;
    width: 1000px;
}

    .projects .projects-title {
        display: block;
        font-size: 25px;
        width: 400px;
        margin: 20px auto 40px auto;
        border-bottom: 1px solid #fff;
        padding-bottom: 10px;
    }

    .projects .project-row {
        padding-top: 30px;
        border-bottom: 1px solid #007bff;
        padding-bottom: 30px;
    }

        .projects .project-row h3 {
            font-size: 19px;
        }

        .projects .project-row .description {
            text-align: left;
        }

            .projects .project-row .description h2 {
                font-size: 25px;
            }

            .projects .project-row .description h3 {
                margin-top: 25px;
            }

    .projects img {
        height: 150px;
        width: 250px;
        margin-bottom: 10px;
    }

        .projects img:hover {
            opacity: 0.7;
        }

    .projects .github {
        margin-left: 15px;
        color: #888;
    }

    .projects span {
        display: block;
    }

    .projects .date {
        font-size: 14px;
        color: #777;
        margin-bottom: 10px;
    }

    .projects .tech {
        margin-top: 20px;
        text-align: left;
        margin-left: 100px;
        font-weight: 500;
    }

        .projects .tech li {
            font-weight: 400;
        }
