body {
    color: #fff;
    background-color: #1C2833;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.blue-color {
    color: #007bff;
}

.title-container {
    background-color: #17202A;
    padding: 30px 0;
}

    .title-container .title-center {
        width: 1000px;
        margin: 0 auto;
    }

    .title-container .name {
        font-size: 20px;
        padding-left: 30px;
        font-weight: 500;
    }

    .title-container .language-change {
        font-size: 20px;
        padding-right: 30px;
        font-weight: 500;
        float: right;
    }

        .title-container .language-change a {
            color: #fff;
        }

.title {
    margin: 0 auto;
    width: 280px;
}

    .title h1 {
        font-size: 28px;
        margin-top: 50px;
    }

    .title .location {
        font-size: 15px;
        display: block;
        margin: 10px 0;
    }

    .title .sites {
        font-size: 13px;
        text-align: center;
        margin: 40px 0 30px 0;
    }

        .title .sites .col {
            cursor: pointer;
        }

            .title .sites .col:hover {
                color: #007bff;
            }

.projects {
    text-align: center;
    margin-bottom: 100px;
    width: 1000px;
}

    .projects .projects-title {
        display: block;
        font-size: 25px;
        width: 400px;
        margin: 20px auto 40px auto;
        border-bottom: 1px solid #fff;
        padding-bottom: 10px;
    }

    .projects .project-row {
        padding-top: 30px;
        border-bottom: 1px solid #007bff;
        padding-bottom: 30px;
    }

        .projects .project-row h3 {
            font-size: 19px;
        }

        .projects .project-row .description {
            text-align: left;
        }

            .projects .project-row .description h2 {
                font-size: 25px;
            }

            .projects .project-row .description h3 {
                margin-top: 25px;
            }

    .projects img {
        height: 150px;
        width: 250px;
        margin-bottom: 10px;
    }

        .projects img:hover {
            opacity: 0.7;
        }

    .projects .github {
        margin-left: 15px;
        color: #888;
    }

    .projects span {
        display: block;
    }

    .projects .date {
        font-size: 14px;
        color: #777;
        margin-bottom: 10px;
    }

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

    .flex-container div {
        flex: 1 1 0px;
    }

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .projects img {
        height: 110px;
        width: 200px;
    }

    .flex-container {
        flex-direction: column;
    }

    .projects .projects-title {
        margin-bottom: 0px;
    }

    .project-row .project-image {
        margin-bottom: 15px;
    }
}

@media only screen and (min-width: 400px) and (max-width: 575px) {
    .container {
        max-width: 90%;
    }

    .title-container .name {
        padding-left: 0px;
    }

    .title-container .language-change {
        padding-right: 0px;
    }

    .title {
        width: auto;
    }

    .flex-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .projects .projects-title {
        width: 300px;
        margin-bottom: 0px;
    }

    .project-row .project-image {
        margin: 0 auto 15px auto;
    }
}

@media only screen and (max-width: 399px) {
    .container {
        max-width: 95%;
    }

    .title-container .name {
        padding-left: 0px;
    }

    .title-container .language-change {
        padding-right: 0px;
    }

    .title {
        width: auto;
    }

    .flex-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .projects .projects-title {
        width: 200px;
        margin-bottom: 0px;
    }

    .projects img {
        height: 110px;
        width: 200px;
    }

    .project-row .project-image {
        margin: 0 auto 15px auto;
    }

    .projects .project-row .description {
        text-align: center;
    }

    .description ul,
    .description p {
        text-align: left;
    }

    .projects .github {
        display: block;
        margin-left: 0px;
    }
}
